<!DOCTYPE html>
<html>
<head>
	<title>Django Luis Blog</title>
</head>
<body>
	<div>
		<h1><a href="/">Django Girls Blog</a></h1>
	</div>

	<div>
		<p> publised: 17.03.2014, 11:05</p>
		<h2><a href="">My first post></a></h2>
		<p>Aenean eu leo .......
The documents on this page provide local level analyses of the main labour market information products available from the UK Commission for Employment and Skills (UKCES). This includes a set of short summary reports for the 39 LEP areas </p>
	</div>
			<p>published: 14.06.2014, 12:14<p>
				
	</div>
	<img src="http://epmghispanic.media.clients.ellingtoncms.com/img/photos/2017/12/06/rusia_jjoo_t670x470.gif?23a6cf1936a4889561e6226c97c290c4239edcb5">
</body>
</html>